/* all body */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
.orange-color {
  color: orange;
}

/* header section */
.header-section {
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
}
.flex-box {
  display: flex;
  margin-bottom: 07%;
}
.half-width {
  width: 50%;
  padding-left: 7%;
}
p {
  color: #7e7e7e;
}

.half-width img {
  width: 85%;
}

.button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 11px 40px;
  border-radius: 6px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

/* dream section */
.Dream-section {
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 103%;
}
.dream-p {
  padding-right: 12%;
}

/* experience section */
.experience-section {
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position-y: 200px;
}
.exp-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 35px gray;
  border-radius: 15px;
  padding-left: 3%;
  padding-bottom: 5%;
}
#exp-item1 {
  border-left: 7px solid;
  border-image: linear-gradient(orange, tomato);
  border-image-slice: 1;
}
#exp-item2 {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

/* footer section */
footer a {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  display: block;
  margin-bottom: 30px;
  color: black;
}
