/* all body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
  padding-bottom: 2%;
}
h2 {
  font-size: 30px;
  padding-top: 5%;
}
h3 {
  padding: 3% 0;
}
.orange-color {
  color: orange;
}

/* navbar */

.nav {
  display: flex;
  justify-content: space-between;
}

.logo a img {
  width: 50%;
  padding: 10px 0px 10px 104px;
}
.menubar {
}
.menubar ul {
  display: flex;
  list-style-type: none;
  margin: 20px 75px 0 0;
}

.menubar ul li {
  margin: 0 20px;
}
.menubar ul li a {
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  color: #e4232c;
  font-weight: 700;
  position: relative;
  transition: ;
}
.menubar ul li a:hover::after {
  content: " ";
  position: absolute;
  width: 8vh;
  border-bottom: 5px solid #ffb526;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* header section */
.header-section {
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
}
.flex-box {
  display: flex;
  margin-bottom: 07%;
}
.half-width {
  width: 50%;
  padding-left: 7%;
}
p {
  color: #7e7e7e;
  margin: 6% 0 5% 0;
}

.half-width img {
  width: 85%;
}

/* button */
.button {
  padding: 7px 14px;
  color: #fff;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  font-weight: 700;
}
.button:hover {
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

/* dream section */
.Dream-section {
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 77%;
}
.dream-p {
  padding-right: 12%;
}

/* experience section */
.experience-section {
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position-y: 165px;
}
.exp-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 35px gray;
  border-radius: 15px;
  padding-left: 3%;
  padding-bottom: 5%;
}
#exp-item1 {
  border-left: 7px solid;
  border-image: linear-gradient(orange, tomato);
  border-image-slice: 1;
}
#exp-item2 {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

/* footer section */
footer a {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  display: block;
  margin-bottom: 30px;
  color: black;
  text-decoration: none;
}
.footer-icon {
  color: #ff7038;
  font-size: 20px;
}
